.swiper-full-sr-block{  
  .swiper-slide{
    figure{
      img{
        object-fit:cover;
        
        @include media-breakpoint-down(lg){
          object-position:right;
        }        
      }
    }
    .top-50 {
      @include media-breakpoint-down(lg){
        top: 80% !important;
      }
    }
  }
}