nav{
	
	display: flex;
	justify-content: flex-end;
	
	//font-family: $font-family-base;		     	

	
	ul.menu{		    			
    	
    	padding: 0 5%;

    	
    	li{		    		
    		
    		@include font-size($h1-font-size);    		    		    		
    		
    		a{
    			text-decoration:none;
    			@include transition;
    		}
    		
    		&:not(.btn){
    			padding:1.5rem 0;
    			line-height:1;    			
    		}
    		
    		&.btn{    		    			
    			a{
    				color:inherit;
    			}
    		}

    		
    		&.menu-item-has-children{
    			ul.sub-menu{							
    				display: none;
    				border-radius: 8px;	
    				height: auto;	
    				background: $gray-200;

    				li{
    					a{
    						color: $secondary;
    					}
    				}													
    			}
    		}
    		
    		
    		
    		// ---> Mobile Nav Submenu <--- //
    		
    		@include media-breakpoint-down(lg) { 
    		
	    		&.menu-item-has-children{
	    			    			
	    			ul.sub-menu{							
						
						margin-top:1.5rem; 						
												
						li{
							padding-left: 2rem;
							padding-right: 2rem;
							@include font-size($h3-font-size);
						}
					}
				}

				&.btn{
	    			margin-top:2rem;	    				    		
	    		}
			}
    	}


    	// ---> Desktop Nav <--- //
    	
    	@include media-breakpoint-up(lg) { 
    		
    		display: flex;
    		align-items: center;
    		padding: 0; 

    		
    		li{
    			@include font-size($h5-font-size);
    			display:inline;    			    			
    			border-bottom:none;

    			&:not(.btn){
    				padding:0;

    				a{
    					padding:2.625rem 0; //Over all height 6.5rem (104px)
    					display:inline-block;
    				}
    			}
				
				&:hover{
					a{
						//color: white;
    					//text-decoration: underline;
					}
				}	

    			& + li{
    				margin-left:get-clamp(8, 56);
    			}

    			
    			&.menu-item-has-children{
    				
    				position: relative;
	    			
	    			ul.sub-menu{
	    					    					    				
	    				position: absolute;
	    				right: 0;
	    				hegiht:auto;
					    
	    				li{
	    					display: block;
	    					margin: 1.25em 2.25em;
	    					
	    					a{							
								padding: 0;																							
							}
	    				}
	    			}	    			
	    		}
    		}
    	}
	}



	// ---> Mobile Nav Custom Style <!--- //

	.nav-dropdown{
		@include media-breakpoint-down(lg) { 
			margin-top: $header-height;
			background: white;		

			.menu{
				padding-bottom:$header-height;
			}			
		}
	}



	// ---> Mobile Nav Base Style <!--- //
	
	.nav-toggler{
		span{						
			font-size: 13px;
			@include media-breakpoint-up(lg) { 
				display:none;
			}
		}
	}
	
	@include media-breakpoint-down(lg) { 
		
		.nav-toggler{
			z-index: 2;			
		    cursor: pointer;
		    width:40px;
		    height:30px;		    
		    position:relative;		    

		   	&:after, &:before{
		    	content:"";
		    	width:39px;
		    	height:2px;
		    	background:$primary;
		    	position:absolute;			    				    	
		    	@include transition;
		    }
		    
		    &:before{
		    	top:24px;
		    }
		    
		    &:after{
		    	top:30px;					
		    	left:0;
		    }

		    &.active{
		    	
		    	span{
		    		display:none;
		    	}
		    	
		    	&:after, &:before{			    	
			    	top:13px;				        
			    }
			    
			    &:before{
			    	transform: rotate(45deg);				        
			    }
		    	
		    	&:after{
		    		transform: rotate(-45deg);				        
		    	}				 
		    }			    
		}
		
		.nav-dropdown{			
		    position: fixed;		    
		    top: 0;
		    left: 0;
		    width: 100%;		    		    
		    min-height: 0;
		    visibility: hidden;
		    @include transition;
		    z-index: 9;		    
		    overflow-y: scroll;

		    &.show{
		    	min-height: 100vh;
		    	visibility: visible;
		    }

		    .menu{		    	
			    width:100%;
			    position:absolute;
			    display: flex;
    			flex-direction: column;


			    li{			    
    				opacity: 0;		    				    					    		
    				display:block;
    				margin:0;
					&:nth-child(1){ order:2; }
					&:nth-child(2){ order:3; }
					&:nth-child(3){ order:4; }
					&:nth-child(4){ order:5; }
					&:nth-child(5){ order:6; }
					&:nth-child(6){ order:1; }
					@include transition;
			    }		    			    
			}

			&.show{
				ul.menu {						
					li {
				        opacity: 1;					        
				        &:nth-child(6) { transition-delay: 0.18s; }
				        &:nth-child(1) { transition-delay: 0.24s; }
				        &:nth-child(2) { transition-delay: 0.30s; }
				        &:nth-child(3) { transition-delay: 0.36s; }
				        &:nth-child(4) { transition-delay: 0.42s; }
				        &:nth-child(5) { transition-delay: 0.48s; }
				    }
				}
			}
		}
	}
}